@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 27, 27);
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;


}

.container {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image {
    position: relative;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    flex: 1;
    border-radius: 100px;
    transition: all 1.15s ease;
    cursor: pointer;
}

.image.active {
    flex: 6;

}

.image.active h3 {
    opacity: 1;

}

.image:hover {
    transform: scale(0.95);
}

.image h3 {
    color: rgba(255, 255, 255, 0.678);
    position: absolute;
    bottom: 35px;
    left: 35px;
    opacity: 0;
}

#image1 {
    background: url('images/image1.jpg');
}

#image2 {
    background: url('images/image3.jpg');
}

#image3 {
    background: url('images/image2.jpg');
}

#image4 {
    background: url('images/image4.jpg');
}

#image5 {
    background: url('images/image5.jpg');
}